* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: transparent;
}

button,
input[type=submit] {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Circe";
  font-weight: 400;
  src: url("../fonts/Circe-Regular.woff2"), url("../fonts/Circe-Regular.woff"), url("../fonts/Circe-Regular.ttf");
}

@font-face {
  font-family: "Circe";
  font-weight: 700;
  src: url("../fonts/Circe-Bold.woff2"), url("../fonts/Circe-Bold.woff"), url("../fonts/Circe-Bold.ttf");
}

@font-face {
  font-family: "Circe";
  font-weight: 800;
  src: url("../fonts/Circe-ExtraBold.woff2"), url("../fonts/Circe-ExtraBold.woff"), url("../fonts/Circe-ExtraBold.ttf");
}

.container {
  max-width: 1356px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
  /*     @media (max-width: 1440px) {
          max-width: $maxWidth;
      }

      @media (max-width: 1200px) {
          max-width: 994px;
      }

      @media (max-width: 1024px) {
          max-width: 748px;
      }

      @media (max-width: 768px) {
          max-width: 405px;
      }

      @media (max-width: 425px) {
          max-width: 355px;
      }

      @media (max-width: 375px) {
          max-width: 320px;
      } */
}

.burg {
  display: none;
  width: 33px;
  height: 33px;
  position: relative;
  z-index: 100;
  background: transparent;
  margin-left: auto;
}

.burg:hover {
  cursor: pointer;
}

.burg__icon {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 24px;
  background-color: #EC1B2E;
  border-radius: 40px;
}

.burg__icon:before {
  content: "";
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 33px;
  height: 4px;
  right: 0;
  background-color: #EC1B2E;
  top: -10px;
  border-radius: 40px;
}

.burg__icon:after {
  content: "";
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 33px;
  height: 4px;
  right: 0;
  background-color: #EC1B2E;
  top: 10px;
  border-radius: 40px;
}

.burg.open .burg__icon {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}

.burg.open .burg__icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
      -ms-transform: rotate(45deg) scaleX(1.25) translate(6.5px, 6.5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
  background-color: #EC1B2E;
}

.burg.open .burg__icon:after {
  background-color: #EC1B2E;
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      -ms-transform: rotate(-45deg) scaleX(1.25) translate(6px, -6px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

.nav-burg.show {
  display: block;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /*     &__li{
          position: relative;
          transition: .1s;
      } */
  /*     &__li:hover:not(.nav__li_current){
          opacity: .5;
      } */
  /*     &__li:active{
          opacity: .3;
      } */
  /*     &__link{
          display: block;
          position: relative;
          white-space: pre;

          &:focus{
              outline: 0;
              opacity: .3;
          }

          &_current {
              &::before {
                  content: "";
                  position: absolute;
                  background-color: #fff;
                  bottom: -5px;
                  left: 0;
                  width: 100%;
                  height: 1px;
              } 
          }
      } */
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: 100%;
  overflow: visible;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__ul > li {
  position: relative;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.nav__ul > li:hover:not(.nav__li_current) {
  opacity: 0.5;
}

.nav__ul > li:active {
  opacity: 0.3;
}

.nav__ul > a {
  display: block;
  position: relative;
  white-space: pre;
}

.nav__ul > a:focus {
  outline: 0;
  opacity: 0.3;
}

.nav__ul > a_current::before {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
}

.logo {
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__image-main {
  width: 60px;
  height: 52px;
}

.logo__image-text {
  padding-left: 15px;
  width: 92px;
  height: 46px;
}

.logo a:focus {
  outline: 0;
  opacity: 0.8;
}

.logo__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.625rem;
  text-transform: uppercase;
  font-family: Oswald;
}

.text-logo {
  font-size: 1.625rem;
  text-transform: uppercase;
  font-family: Oswald;
}

.text-logo:hover,
.text-logo:focus {
  outline: 0;
  opacity: 0.8;
}

.text-logo:active {
  opacity: 0.6;
}

.logo.header__logo {
  margin-right: 173px;
}

.logo.footer__logo .logo__image-main {
  width: 185px;
  height: 187px;
}

.logo__image-desktop {
  width: 80px;
}

.logo__image-tablet {
  display: none;
}

.logo__image-mobile,
.logo__image-mobile-text {
  display: none;
}

.logo__image-mobile-text,
.logo__image-mobile-text-text {
  margin-top: 3px;
}

.logo__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0px solid transparent;
}

.tabs__button {
  background-color: #fff;
  padding: 5px;
  border: 0px solid transparent;
  margin-bottom: -1px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.tabs__button_current {
  color: #EC1B2E;
  border: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.tabs__button:focus {
  outline: none;
}

.tabs__content {
  padding-top: 5px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.tabs__content_hidden {
  opacity: 0;
}

body {
  font-family: Circe, Arial, sans-serif;
  line-height: 140%;
  color: #333;
}

body.lock {
  overflow: hidden;
}

.scroll,
.scroll-wrapper {
  width: 100px;
  height: 100px;
  overflow: auto;
  border: 1px solid black;
}

.scroll-wrapper textarea {
  height: 100px;
  width: 100px;
}

.breadcrumbs {
  padding-top: 28px;
  padding-bottom: 40px;
  font-size: 0.875rem;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}

.breadcrumbs__item:not(:last-child):hover {
  opacity: 0.7;
}

.breadcrumbs__item:last-child:hover {
  cursor: default;
}

.breadcrumbs__item:not(:first-child) {
  position: relative;
}

.breadcrumbs__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -23px;
  width: 8px;
  height: 8px;
  background-color: #EC1B2E;
}

.btn {
  padding: 10px 20px;
  display: block;
  color: #fff;
  background-color: #EC1B2E;
  text-align: center;
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 auto;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.btn-border {
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  background: none;
  color: #fff;
}

.btn.w-100 {
  width: 100%;
}

.btn.w-100:hover {
  -webkit-transform: rotate(-1deg) scale(1.1);
      -ms-transform: rotate(-1deg) scale(1.1);
          transform: rotate(-1deg) scale(1.1);
}

.title,
.subtitle {
  font-size: 3rem;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
}

.title {
  font-weight: 800;
}

.subtitle {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-transform: uppercase;
}

.subtitle-arrow {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.subtitle-arrow::before {
  content: "";
  position: absolute;
  top: -63%;
  right: -258px;
  width: 228px;
  height: 100px;
  background-image: url("/img/svg/arrow.svg");
}

.text {
  font-size: 1rem;
  line-height: 1.4rem;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .contact-location::before,
.header .contact-phone::before,
.header .contact-mail::before {
  top: -4px;
  left: -9px;
}

.li {
  padding-left: 23px;
  margin-bottom: 15.6px;
  position: relative;
}

.li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #EC1B2E;
}

.contact-location,
.contact-phone,
.contact-mail {
  position: relative;
  padding-left: 42px;
  margin-left: 30px;
  white-space: pre;
}

.contact-location::before,
.contact-phone::before,
.contact-mail::before {
  content: "";
  position: absolute;
  top: -55%;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.contact-location::before {
  background-image: url("https://alexandrmolkov.github.io/school/img/svg/icons/location.svg");
}

.contact-phone::before {
  background-image: url("https://alexandrmolkov.github.io/school/img/svg/icons/call.svg");
}

.contact-mail::before {
  background-image: url("https://alexandrmolkov.github.io/school/img/svg/icons/mail.svg");
}

.cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#slider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

*:focus {
  outline: 1px solid #fff;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .swiper-button-prev,
section .swiper-button-next {
  width: 70px;
  height: 70px;
  background: #EC1B2E;
}

section .swiper-button-prev::after,
section .swiper-button-next::after {
  display: none;
}

section .swiper-button-prev::before,
section .swiper-button-next::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  left: 150px !important;
}

.swiper-button-prev::before {
  background-image: url("https://alexandrmolkov.github.io/school/img/svg/left-arrow.svg");
}

.swiper-button-next {
  right: 150px !important;
}

.swiper-button-next::before {
  background-image: url("https://alexandrmolkov.github.io/school/img/svg/right-arrow.svg");
}

p {
  margin-bottom: 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pre {
  white-space: pre;
}

table {
  width: 100%;
}

table th {
  text-align: start;
}

table td {
  vertical-align: top;
}

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.header {
  width: 100%;
}

.header .container {
  overflow: visible;
}

.header__name {
  color: #EC1B2E;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 140%;
  text-transform: uppercase;
}

.header__name_lap {
  display: none;
  padding-left: 30px;
}

.header__name_desk {
  display: block;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}

.header__btn.btn {
  white-space: pre;
  min-width: 100px;
}

.header__content-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__content-row:first-child {
  border-bottom: solid 1px rgba(51, 51, 51, 0.3);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .burg {
  margin-bottom: -1px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 30px;
}

.header__nav {
  z-index: 10;
  position: relative;
  color: #333;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 10px;
}

.header__nav a {
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  padding-top: 63px;
  padding-bottom: 10px;
  min-height: 160px;
  background-color: rgba(51, 51, 51, 0.05);
  color: #333;
  font-size: 1rem;
  line-height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  gap: 40px;
  margin-bottom: 36px;
}

.footer__content > * {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.footer__navigation {
  display: block;
  margin-bottom: 25px;
}

.footer__navigation-li {
  margin-bottom: 15px;
  text-align: start;
  font-size: 0.875rem;
  line-height: 140%;
}

.footer .socialize {
  font-size: 0.875rem;
  line-height: 140%;
  margin-bottom: 42px;
  text-transform: uppercase;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
}

.footer__item_pl-20 {
  padding-left: 20px;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  font-size: 0.875rem;
  line-height: 140%;
  margin-bottom: 43px;
}

.footer .contacts > * {
  margin-left: 0;
}

.footer .contacts > *::before {
  top: 0;
}

.footer .contact-location,
.footer .contact-phone,
.footer .contact-mail {
  padding-left: 30px;
}

.footer .contact-location::before,
.footer .contact-phone::before,
.footer .contact-mail::before {
  margin-left: 0;
}

.social__link {
  -webkit-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3;
}

.social__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.copyright {
  border-top: 1px solid rgba(51, 51, 51, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 14px;
  font-size: 0.875rem;
  line-height: 140%;
  width: 100%;
  position: relative;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
}

.webp .hero {
  background-image: url("../img/slide.webp");
}

.no-webp .hero {
  background-image: url("../img/slide.png");
}

.hero__slide {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.hero__slide-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__slide-content {
  position: relative;
  z-index: 2;
  max-width: 586px;
  left: 22%;
  top: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__slide-text-block {
  width: 100%;
  padding: 15px 30px;
  background: rgba(51, 51, 51, 0.5);
  margin-bottom: 49px;
}

.hero__slide-text {
  color: #fff;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 140%;
}

.hero__slide-btn {
  margin-left: inherit;
  display: block;
  margin-right: auto;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  padding: 16px 29px;
}

.about {
  padding-top: 128px;
  padding-bottom: 128px;
}

.about__content {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about__image {
  max-width: 616px;
  max-height: 613px;
  width: 100%;
  height: auto;
  opacity: 0.05;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image img {
  width: 70%;
  height: auto;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.about__text-block {
  position: relative;
  max-width: 49.2%;
  border: 10px solid #EC1B2E;
  padding: 77px 80px 43px;
  font-size: 1.125rem;
  line-height: 140%;
  margin-left: 108px;
}

.about__title {
  left: 50px;
  top: -50px;
  padding: 10px 30px;
  background-color: #fff;
  position: absolute;
}

.about__subtitle {
  margin-bottom: 45px;
}

.about__text {
  margin-bottom: 24px;
}

.price {
  padding-top: 22px;
  /* &__table,  */
}

.price__title {
  margin-bottom: 53px;
}

.price table {
  padding: 100px 110px;
}

.price table th {
  background-color: rgba(51, 51, 51, 0.05);
  padding: 10px 20px;
  font-size: 1.25rem;
  line-height: 140%;
}

.price table tr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 4fr;
  grid-template-columns: 1fr 2fr 4fr;
}

.price table tr:not(:last-child) {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.price table td {
  padding: 36px 20px 18px 20px;
  font-size: 1.125rem;
  line-height: 140%;
}

.price__duration {
  padding: 12px 20px;
  min-width: 184px;
  color: #fff;
  background: #EC1B2E;
  text-align: center;
  margin-left: 166px;
  line-height: 140%;
}

.price .row.options {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.price .row.options > * {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.price__opt {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  text-align: center;
}

.price__opt_cur {
  color: #EC1B2E;
}

.price__row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price__cost {
  color: #fff;
  background-color: #EC1B2E;
  padding: 5px 7px 0px 7px;
  display: inline-block;
  line-height: 140%;
}

.exam {
  padding-top: 15px;
  padding-bottom: 25px;
}

.exam__title {
  margin-bottom: 100px;
}

.exam__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.exam__items > * {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.exam-card {
  max-width: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.exam-card > * {
  width: 100%;
}

.exam-card__content {
  padding: 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.exam-card__image-wrapper {
  max-width: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.exam-card__image-wrapper img {
  width: 100%;
  height: auto;
}

.exam-card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  line-height: 140%;
}

.exam-card__list {
  margin-bottom: 47px;
}

.exam-card__li {
  line-height: 140%;
  list-style: disc;
  margin-left: 20px;
}

.exam-card__li:not(:last-child) {
  margin-bottom: 15px;
}

.exam-card__link {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  padding: 14px 30px;
}

.events {
  padding-top: 126px;
}

.events__title {
  margin-bottom: 100px;
}

.events__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.events__items > * {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.event-item {
  max-width: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.event-item > * {
  width: 100%;
}

.event-item__content {
  padding: 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.event-item__image-wrapper {
  max-width: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.event-item__image-wrapper img {
  width: 100%;
  height: auto;
}

.event-item__title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
}

.event-item__link {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  padding: 14px 30px;
  margin: 0;
}

.event-item__text {
  margin-bottom: 28px;
}

.news {
  padding-top: 150px;
  padding-bottom: 120px;
}

.news__title {
  margin-bottom: 100px;
}

.news__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.news__items > * {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.news-item > * {
  width: 100%;
}

.news-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-item__image-wrapper {
  max-width: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.news-item__image-wrapper img {
  width: 100%;
  height: auto;
}

.news-item__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  margin-bottom: 29px;
}

.news-item__link {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  padding: 14px 30px;
  margin: 0;
}

.news-item__text {
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.schedule__content {
  max-width: 1076px;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;
}

.schedule__content::before,
.schedule__content::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 346px;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  opacity: 0.05;
}

.schedule__content::before {
  top: 739px;
  background-image: url("/img/logo/logo-big.svg");
}

.schedule__content::after {
  top: 1738px;
  background-image: url("/img/logo/logo-big.svg");
}

.schedule__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
  height: 500px;
}

.schedule__title {
  text-align: start;
  margin-bottom: 18px;
}

.schedule__subtitle {
  padding-top: 43px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  margin-bottom: 41px;
}

.schedule__text-block {
  margin-top: 34px;
  max-width: 636px;
  margin-bottom: 34px;
}

.schedule__text-block_border {
  padding: 24px 34px 17px 34px;
  text-align: center;
  border: 5px solid #EC1B2E;
  line-height: 135%;
  margin-bottom: 40px;
}

.content__content {
  max-width: 1076px;
  margin: 0 auto;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
  height: 500px;
}

.content__title {
  text-align: center;
  margin-bottom: 33px;
}

.content__subtitle {
  padding-top: 43px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  margin-bottom: 41px;
}

.content__wrapper {
  max-width: 636px;
}

.content__list {
  margin-bottom: 16px;
}

.content__list_mb-60 {
  margin-bottom: 60px;
}

.content__li {
  padding-left: 23px;
  margin-bottom: 15.6px;
  position: relative;
}

.content__li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #EC1B2E;
}

.content__nav {
  width: 100%;
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.content__nav > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(16.6666666667% - 48px);
          flex: 1 1 calc(16.6666666667% - 48px);
}

.content__nav .btn {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.content__text-block {
  margin-top: 34px;
  margin-bottom: 14px;
}

.content__text-block_mb-40 {
  margin-bottom: 40px;
}

.content__text-block_border {
  padding: 24px 34px 17px 34px;
  text-align: center;
  border: 5px solid #EC1B2E;
  line-height: 135%;
  margin-bottom: 40px;
}

.contact {
  padding-bottom: 103px;
}

.contact__content {
  padding-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.contact__content > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 60px);
          flex: 1 1 calc(25% - 60px);
}

.contact__item-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 35px;
}

.contact__item_schedule {
  padding-left: 48px;
}

.contact__item_numbers {
  padding-left: 87px;
}

.contact__item_emails {
  padding-left: 18px;
}

.contact__item_emails p {
  margin-bottom: 8px;
  font-size: 14px;
}

.contact__mail {
  margin-bottom: 24px;
  display: block;
  color: #EC1B2E;
  font-size: 1rem;
  font-weight: 700;
}

.contact .contact-location {
  font-weight: 700;
  margin: 0;
  padding-left: 23px;
  margin-bottom: 20px;
}

.contact .contact-location::before {
  top: -2px;
  left: -3px;
  background-position: left;
}

.map {
  height: 500px;
}

@media (max-width: 1440px) {
  .swiper-button-prev {
    left: 100px !important;
  }

  .swiper-button-next {
    right: 100px !important;
  }

  .price .row.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 62px;
  }
}

@media (max-width: 1319px) {
  .burg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }

  .header__name_lap {
    display: block;
  }

  .header__name_desk {
    display: none;
  }

  .header__contacts {
    margin: 0 auto;
  }

  .header__nav {
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 0;
    left: -100%;
    min-width: 320px;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 320px;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    gap: 40px;
    overflow: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__nav a {
    font-size: 1.5rem;
    color: #EC1B2E;
  }

  .header__nav a_current::before {
    bottom: -14px;
    width: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header__nav.show {
    left: 0;
    z-index: 100;
  }
}

@media (max-width: 1139px) {
  .about__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__title {
    top: -84px;
    max-width: 300px;
  }

  .price .row.options {
    padding-left: 0px;
  }

  .price__opt {
    font-size: 1.25rem;
  }
}

@media (max-width: 1023px) {
  .logo__image-text {
    width: 78px;
    height: 68px;
  }

  .subtitle-arrow::before {
    display: none;
  }

  .contact-location,
  .contact-phone,
  .contact-mail {
    font-size: 0.875rem;
  }

  .laptop-hidden {
    display: none;
  }

  section .swiper-button-prev::before,
  section .swiper-button-next::before {
    width: 12px;
    height: 12px;
    background-size: contain;
  }

  section .swiper-button-prev,
  section .swiper-button-next {
    width: 50px;
    height: 50px;
  }

  .swiper-button-prev {
    left: 50px !important;
  }

  .swiper-button-next {
    right: 50px !important;
  }

  .header .burg {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
  }

  .header .nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__buttons {
    /*             order: 2;
                margin-left: auto;
                padding-right: 60px; */
  }

  .header .contact-location::before,
  .header .contact-phone::before,
  .header .contact-mail::before {
    margin-left: 20px;
  }

  .footer__content {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__content > * {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .footer__item {
    gap: 15px;
  }

  .footer .social {
    padding-left: 0;
  }

  .hero__slide {
    height: 470px;
  }

  .hero__slide-content {
    max-width: 400px;
  }

  .hero__slide-text {
    font-size: 1.875rem;
  }

  .hero__slide-btn {
    font-size: 1rem;
    padding: 12px 22px;
  }

  .price table {
    padding: 100px 50px 60px;
  }

  .price__duration {
    margin-left: 0;
  }

  .price .row.options > * {
    width: 40%;
  }

  .price .row.options {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .price__row_duration {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }

  .exam__items > * {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .exam-card {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .events {
    padding-top: 80px;
  }

  .events__items > * {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .news {
    padding-top: 100px;
  }

  .news__items > * {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .content__nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .content__nav > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(33.3333333333% - 48px);
            flex: 0 1 calc(33.3333333333% - 48px);
  }

  .contact__content > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 60px);
            flex: 1 1 calc(50% - 60px);
  }

  .contact__item {
    padding-left: 0;
  }
}

@media (max-width: 960px) {
  .contact-location,
  .contact-phone,
  .contact-mail {
    margin-left: 0px;
  }
}

@media (max-width: 920px) {
  .logo.header__logo {
    margin-right: 20px;
  }

  .logo.footer__logo {
    margin-right: 20px;
  }

  .header__nav a {
    font-size: 0.75rem;
  }
}

@media (max-width: 919px) {
  .about__image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }

  .about__text-block {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 23px;
    padding-right: 23px;
  }

  .logo__image-text {
    width: 46px;
    height: 28px;
  }

  .logo__text {
    padding: 15px;
  }

  .text-logo {
    padding: 15px;
  }

  .logo.header__logo {
    width: 173px;
  }

  .logo.footer__logo {
    width: 173px;
  }

  .logo__image-desktop {
    display: none;
  }

  .logo__image-tablet {
    display: block;
  }

  .logo__image-tablet {
    display: none;
  }

  .btn {
    /*         width: 100%;
            max-width: 276px;

            font-size: rem(14);
            line-height: rem(17); */
  }

  .title,
  .subtitle {
    font-size: 2.25rem;
  }

  .text {
    font-size: 0.75rem;
    line-height: 1.3125rem;
  }

  .tablet-hidden {
    display: none;
  }

  .header__btn.btn {
    /*             font-size: rem(8);
                padding: 8px 14px;
                border-width: 1px; */
  }

  .header__content-row:first-child {
    display: none;
  }

  .header__contacts {
    margin: 0;
    margin-left: auto;
    font-size: 0;
  }

  .footer {
    padding-top: 43px;
  }

  .footer__content > * {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .footer .socialize {
    margin-bottom: 18px;
  }

  .footer .social {
    margin-bottom: 30px;
  }

  .hero__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__slide-content {
    left: 0;
    max-width: 300px;
  }

  .hero__slide-text {
    font-size: 1.25rem;
  }

  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about__text-block {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about__title {
    max-width: 250px;
  }

  .about__text {
    margin-bottom: 30px;
  }

  .price table {
    padding: 100px 0px 40px;
  }

  .price table th {
    display: none;
  }

  .price table tr {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .price__opt {
    font-size: 1.125rem;
  }

  .exam__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .exam__items > * {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .exam-card {
    max-width: 506px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  }

  .events {
    padding-top: 60px;
  }

  .events__title {
    margin-bottom: 80px;
  }

  .events__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }

  .events__items > * {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .event-item {
    margin: 0 auto;
  }

  .event-item__content {
    padding: 0;
  }

  .news {
    padding-top: 60px;
  }

  .news__title {
    padding-top: 40px;
    margin-bottom: 80px;
  }

  .news__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }

  .news__items > * {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .news-item {
    max-width: 416px;
    margin: 0 auto;
  }

  .content__content {
    padding-bottom: 75px;
  }

  .content__nav > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 48px);
            flex: 0 1 calc(50% - 48px);
  }
}

@media (max-width: 619px) {
  .header__buttons {
    /* display: none; */
  }
}

@media (max-width: 539px) {
  .swiper-button-prev {
    left: 0px !important;
  }

  .swiper-button-next {
    right: 0px !important;
  }

  .about__title {
    left: 20%;
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%);
  }

  .price__opt {
    white-space: initial;
  }

  .contact__content > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% - 60px);
            flex: 1 1 calc(100% - 60px);
  }
}

@media (max-width: 424px) {
  section .swiper-button-prev,
  section .swiper-button-next {
    width: 30px;
    height: 30px;
  }

  .swiper-button-prev {
    /*         top: 94% !important;
            left: 10px !important; */
  }

  .swiper-button-next {
    /*         top: 94% !important;
            right: 10px !important; */
  }

  .header__name_lap {
    display: none;
  }

  .hero__slide {
    height: calc(100vh - 92px);
  }

  .about__text-block {
    padding-bottom: 30px;
  }

  .about__title {
    max-width: 200px;
  }

  .price table td {
    padding: 36px 0px 18px 0px;
  }
}