include common/mixins/_nav
footer.footer
    .container
        .footer__content
            .footer__item
                p.socialize ШКОЛА испанского ЯЗЫКА «ЛаВИта» в петербурге
                .contacts
                    .contact-location Лиговский пр. 133 Е
                    a.contact-phone(href="tel:+79111234567") +7 (911) 123-45-67
                    a.contact-mail(href="mailto:lavita_school@gmail.com") lavita_school@gmail.com
                .social 
                    a.social__link(href="#")
                        img(src="img/svg/social/vk.svg", alt="vk" width="30" height="30") 
                    a.social__link(href="#")
                        img(src="img/svg/social/youtube.svg", alt="youtube" width="30" height="30") 
                    a.social__link(href="#")
                        img(src="img/svg/social/telegram.svg", alt="telegram" width="30" height="30") 
                    a.social__link(href="#")
                        img(src="img/svg/social/bi_wechat.svg", alt="bi_wechat" width="30" height="30") 
            .footer__item.footer__item_pl-20
                .footer__about 
                    .footer__title О нас
                    ul.footer__navigation.list
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Основные сведения
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Структура и органы управления &#10; образовательной организацией
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Документы
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Образование
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Образовательные стандарты
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Руководство. Педагогический &#10; (научно-педагогический) состав
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Материально-техническое &#10; обеспечение и оснащенность &#10; образовательного процесса
                        li.footer__navigation-li
                            a.footer__link.link(href="#") Доступная среда

            .footer__item.footer__item_pl-20
                .footer__title Расписание и оплата
                ul.footer__navigation.list
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Расписание занятий
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Курсы и стоимость
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Расписание работы кассы
                .footer__title Обучение в китае
                ul.footer__navigation.list
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Стипендиальные программы
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Лингвистические лагеря
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Оформление визы на обучение

            .footer__item.footer__item_pl-20.laptop-hidden
                .footer__title Экзамены
                ul.footer__navigation.list
                    li.footer__navigation-li
                        a.footer__link.link(href="#") MSK 1
                    li.footer__navigation-li
                        a.footer__link.link(href="#") OPT
                    li.footer__navigation-li
                        a.footer__link.link(href="#") YSV
                    li.footer__navigation-li
                        a.footer__link.link(href="#") NNB
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Порядок регистрации на &#10; онлайн экзамен
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Порядок регистрации на очный &#10; экзамен
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Расписание экзаменов

            .footer__item.footer__item_pl-20.laptop-hidden
                .footer__title Школа
                ul.footer__navigation.list
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Новости
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Мероприятия
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Фотогалерея
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Контакты
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Отзывы
        .copyright
            div © «ЛАВИТА» 2021
            div Разработано d-e-n.ru
