section.about#about
    .about__content.container
        .about__text-block
            .about__title.title Школа “Лавита”
            .about__text
                p.
                    Eleifend purus dictum nunc, aenean tincidunt massa libero. Aliquam nullam enim at ac. Imperdiet risus mi quis vitae non. Cursus scelerisque donec vulputate ante etiam libero donec ridiculus at. Phasellus at nullam dapibus ut in. Vulputate consequat purus tellus vel cras. Eu sollicitudin arcu faucibus turpis venenatis.
                p.
                    Aliquet auctor tempus, erat at interdum eu. Sapien amet, amet sit non at sodales volutpat. Cursus et laoreet eget velit a tortor eu nibh mattis. Mi facilisi ultrices maecenas id.
        .about__image
            img(src="img/logo/logo-big.svg", alt="")