section.events
    .events__content.container
        h2.events__title.title Мероприятия
        .events__items
            .event-item
                .event-item__image-wrapper
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/events-1.webp" type="image/webp")
                        img.lazyload(src="img/image.png" data-src="img/events-1.png" alt="")
                .event-item__content
                    .event-item__title Sed sem vulputate habitant quis eu, vitae quis porttitor augue. 
                    .event-item__text.text.
                        Elementum, sed viverra volutpat nam lacus egestas. Scelerisque quisque egestas maecenas fermentum semper auctor massa tincidunt. Tristique pulvinar commodo fermentum neque. Elementum tortor.
                    .event-item__link.btn Подробнее
            .event-item
                .event-item__image-wrapper
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/events-2.webp" type="image/webp")
                        img.lazyload(src="img/image.png" data-src="img/events-2.png" alt="")
                .event-item__content
                    .event-item__title Magna rhoncus facilisi aliquam odio tempus. Non felis cras.
                    .event-item__text.text.
                        Tempus libero commodo velit ut aliquam. Sagittis, tristique porttitor platea eu imperdiet interdum cras. Hac blandit sed integer nibh diam in lacus ac. Congue nibh id rhoncus tincidunt imperdiet.
                    .event-item__link.btn Подробнее
            .event-item
                .event-item__image-wrapper
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/events-3.webp" type="image/webp")
                        img.lazyload(src="img/image.png" data-src="img/events-3.png" alt="")
                .event-item__content
                    .event-item__title Id adipiscing aliquet erat mattis. Cursus metus malesuada congue.
                    .event-item__text.text.
                        Dis non mauris placerat in dictum ullamcorper adipiscing morbi dignissim. Commodo dolor ornare nibh sed pretium tellus. Urna, imperdiet id ac venenatis erat mattis risus, molestie. Felis porta.
                    .event-item__link.btn Подробнее