section.exam
    .exam__content.container
        h2.exam__title.title Экзамены
        .exam__items
            .exam__item.exam-card
                .exam-card__image-wrapper
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/exam-1.webp" type="image/webp")
                        img.lazyload(src="img/image.png" data-src="img/exam-1.png" alt="")
                .exam-card__content
                    h3.exam-card__title Massa fringilla rhoncus purus gravida magnis.
                    ul.exam-card__list
                        li.exam-card__li Sed viverra in nulla duis elit purus urna. 
                        li.exam-card__li Enim volutpat nisi, sit eget sed consectetur consectetur.
                        li.exam-card__li Massa turpis enim, pellentesque amet morbi sagittis. Euismod morbi
                    a(href="#").exam-card__link.btn Подробнее
            .exam__item.exam-card
                .exam-card__image-wrapper
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/exam-2.webp" type="image/webp")
                        img.lazyload(src="img/image.png" data-src="img/exam-2.png" alt="")
                .exam-card__content
                    h3.exam-card__title Erat magna at elementum faucibus tristique lorem. 
                    ul.exam-card__list
                        li.exam-card__li Sed viverra in nulla duis elit purus urna. 
                        li.exam-card__li Enim volutpat nisi, sit eget sed consectetur consectetur.
                        li.exam-card__li Massa turpis enim, pellentesque amet morbi sagittis. Euismod morbi
                    a(href="#").exam-card__link.btn Подробнее
            .exam__item.exam-card
                .exam-card__image-wrapper
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/exam-3.webp" type="image/webp")
                        img.lazyload(src="img/image.png" data-src="img/exam-3.png" alt="")
                .exam-card__content
                    h3.exam-card__title Libero at pulvinar sagittis odio et luctus mattis.
                    ul.exam-card__list
                        li.exam-card__li Sed viverra in nulla duis elit purus urna. 
                        li.exam-card__li Enim volutpat nisi, sit eget sed consectetur consectetur.
                        li.exam-card__li Massa turpis enim, pellentesque amet morbi sagittis. Euismod morbi
                    a(href="#").exam-card__link.btn Подробнее
            .exam__item.exam-card
                .exam-card__image-wrapper
                    picture
                        source.lazyload(srcset="img/image.webp" data-src="img/exam-4.webp" type="image/webp")
                        img.lazyload(src="img/image.png" data-src="img/exam-4.png" alt="")
                .exam-card__content
                    h3.exam-card__title Laoreet ut aliquam rhoncus lectus. Faucibus.
                    ul.exam-card__list
                        li.exam-card__li Sed viverra in nulla duis elit purus urna. 
                        li.exam-card__li Enim volutpat nisi, sit eget sed consectetur consectetur.
                        li.exam-card__li Massa turpis enim, pellentesque amet morbi sagittis. Euismod morbi
                    a(href="#").exam-card__link.btn Подробнее