section.hero
    .swiper.hero__swiper
        .swiper-wrapper
            .swiper-slide
                .hero__slide
                    picture
                        source(srcset="img/slide.webp" type="image/webp")
                        img.cover.hero__slide-slide(src="img/slide.png" alt="питербург")
                    .hero__slide-content
                        .hero__slide-text-block
                            .hero__slide-text.
                                ИДЕТ НАБОР НА ОБУЧЕНИЕ В ШКОЛУ "ЛАВИТА" В НЕВСКОМ РАЙОНЕ ПЕТЕРБУРГА! УСПЕЙ ЗАПИСАТЬСЯ!
                        a.hero__slide-btn.btn(href="#") Подробнее
                    .swiper-button-prev
                    .swiper-button-next
            .swiper-slide
                .hero__slide
                    picture
                        source(srcset="img/slide.webp" type="image/webp")
                        img.cover.hero__slide-slide(src="img/slide.png" alt="питербург")
                    .hero__slide-content
                        .hero__slide-text-block
                            .hero__slide-text.
                                ИДЕТ НАБОР НА ОБУЧЕНИЕ В ШКОЛУ "ЛАВИТА" В НЕВСКОМ РАЙОНЕ ПЕТЕРБУРГА! УСПЕЙ ЗАПИСАТЬСЯ!
                        a.hero__slide-btn.btn(href="#") Подробнее
                    .swiper-button-prev
                    .swiper-button-next
            .swiper-slide
                .hero__slide
                    picture
                        source(srcset="img/slide.webp" type="image/webp")
                        img.cover.hero__slide-slide(src="img/slide.png" alt="питербург")
                    .hero__slide-content
                        .hero__slide-text-block
                            .hero__slide-text.
                                ИДЕТ НАБОР НА ОБУЧЕНИЕ В ШКОЛУ "ЛАВИТА" В НЕВСКОМ РАЙОНЕ ПЕТЕРБУРГА! УСПЕЙ ЗАПИСАТЬСЯ!
                        a.hero__slide-btn.btn(href="#") Подробнее
                    .swiper-button-prev
                    .swiper-button-next