section.news
    .news__content.container
        h2.news__title.title Новости школы
        .news__items
            .news-item
                .news-item__content
                    .news-item__title Eu faucibus facilisi est pharetra, augue vulputate nisi elementum. Molestie id.
                    .news-item__text.text.
                        Commodo bibendum eget purus vivamus amet ut. Nisl habitant tellus augue quam lectus elementum platea. A imperdiet facilisis quis aliquet. Venenatis sit nibh pellentesque interdum sem. Donec vitae tristique vel dictum sagittis a purus. 
                    .news-item__link.btn Подробнее
            .news-item
                .news-item__content
                    .news-item__title Semper aenean amet malesuada aliquam. Urna, ornare tincidunt quam non. 
                    .news-item__text.text.
                        Augue laoreet elit urna enim fames leo habitant viverra. Turpis volutpat, scelerisque odio enim tincidunt sit. Duis quam enim vel tempus id scelerisque sapien risus. Ut ut augue porttitor urna ullamcorper hendrerit rutrum metus non. Amet a at integer aenean. 
                    .news-item__link.btn Подробнее
            .news-item
                .news-item__content
                    .news-item__title Sed blandit mauris, varius semper amet dolor gravida tincidunt quis. Ultrices.
                    .news-item__text.text.
                        Morbi diam eu risus amet, id egestas quam. Scelerisque lorem consectetur cras nisl risus congue. Nisl sed tellus magna eu, ac fames. Lacinia aliquam mi proin massa. Integer nulla netus tempus, ac netus suscipit pharetra bibendum ut. Eget ligula sodales aenean. 
                    .news-item__link.btn Подробнее
            .news-item
                .news-item__content
                    .news-item__title Morbi aliquam ornare sagittis tincidunt imperdiet vulputate orci, mauris. Lorem donec.
                    .news-item__text.text.
                        Et nisl quis sit euismod sit senectus ut interdum. Consequat faucibus fermentum in vitae aliquam, venenatis pellentesque purus. Venenatis interdum tempus aliquet. 
                    .news-item__link.btn Подробнее