
section.price
    .price__content.container
        h2.price__title.title Курсы и стоимость обучения
        .price__row.price__row_duration.row
            .price__duration.pre (учебный год с &#10; сентября по май)
            .price__duration.pre (учебный год с &#10; сентября по июнь)
        .price__row.row.options
            button.price__opt.price__opt_cur.pre Испанский язык &#10; для детей
            button.price__opt.pre Испанский язык &#10; для взрослых
            button.price__opt.pre Индивидуальные занятия &#10; и минигруппы
            button.price__opt.pre Подготовка к &#10; международным экзаменам
        table.table.price__table
            tr
                th Группы
                th Интенсивность
                th Стоимость
            tr
                td 8-9 лет
                td 
                    p 2 раза в неделю по 2 ак. часа
                    p 17:00 - 18:30
                td
                    p <span class="price__cost">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия
                    p Оплата 3 раза в год
                    p Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов
            tr
                td 8-9 лет
                td 
                    p 2 раза в неделю по 2 ак. часа
                    p 17:00 - 18:30
                td
                    p <span class="price__cost">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия
                    p Оплата 3 раза в год
                    p Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов
            tr
                td 8-9 лет
                td 
                    p 2 раза в неделю по 2 ак. часа
                    p 17:00 - 18:30
                td
                    p <span class="price__cost">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия
                    p Оплата 3 раза в год
                    p Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов
            tr
                td 8-9 лет
                td 
                    p 2 раза в неделю по 2 ак. часа
                    p 17:00 - 18:30
                td
                    p <span class="price__cost">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия
                    p Оплата 3 раза в год
                    p Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов
