include pug/head
include pug/common/mixins/header

doctype html
html(lang="ru")
    +head('Главная')
    body
        .wrapper
            +header([{link:'#about', content:'О нас'},
                {link:'services.html', content:'Расписание и оплата'},
                {link:'#tech', content:'Мероприятия'},
                 {link:'content.html', content:'Экзамены'},
                {link:'#tech', content:'Обучение в испании'},
                {link:'#tech', content:'Новости'},
                {link:'#tech', content:'Фотогалерея'},
                {link:'contacts.html', content:'Контакты'},
                {link:'#tech', content:'Отзывы'},])
            main.main
                include pug/pages/index/hero
                include pug/pages/index/about
                include pug/pages/index/price
                include pug/pages/index/exam
                include pug/pages/index/events
                include pug/pages/index/news
            include pug/footer
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        script(src="js/app.min.js")
       

        