
html,
body {
    height: 100%;
}

.wrapper {
    //height: 100%;
    display: flex;
    flex-direction: column;  
}

.main {
    flex-grow: 1;
}



.footer {
    padding-top: 63px;
    padding-bottom: 10px;

    min-height: 160px;

    background-color: $second;

    color: $black;
    font-size: rem(16);
    line-height: rem(20);

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet){
        padding-top: 43px;
    }

    &__title{
        margin-bottom: 27px;
        font-weight: 700;
        font-size: rem(20);
        line-height: 140%;
    }

    &__content{
        

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 40px;

        margin-bottom: 36px;
        
        > * {
            grid-column: span 2;
        }
        
        @media (max-width: $tablet){
        
            > * {
                grid-column: span 10;
            }
        }


        @media (max-width: $laptop){
            grid-template-columns: repeat(3, 1fr);
            > * {
                grid-column: span 1;
            }
        }

        @media (max-width: $tablet){
            
        }
        
    }
    &__navigation{
        display: block;
        margin-bottom: 25px;

        &-li{
            margin-bottom: 15px;
            text-align: start;
            font-size: rem(14);
            line-height: 140%;
        }
    }
    .socialize{
        font-size: rem(14);
        line-height: 140%;
        margin-bottom: 42px;
        text-transform: uppercase;

        @media (max-width: $tablet){
            margin-bottom: 18px;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        font-weight: 700;

        &_pl-20{
            padding-left: 20px;
        }

        @media (max-width: $laptop){
            gap: 15px;
        }
    }

    .social{
        display: flex;
        gap: 20px;

        @media (max-width: $laptop){
            padding-left: 0;
        }
        
        @media (max-width: $tablet){
            margin-bottom: 30px;
        }
    }

    .contacts{

        display: flex;
        flex-direction: column;
        gap: 24px;

        font-size: rem(14);
        line-height: 140%;
        margin-bottom: 43px;

        > * {
            margin-left: 0;

            &::before{
                
                top: 0;
            }
        }
    }

    .contact {
        &-location, &-phone, &-mail{
            padding-left: 30px;

            &::before {
               margin-left: 0;   
            }
        }
    }

}

.social__link{
    transition: .3;

    &:hover{
        cursor: pointer;
        opacity: .7;
    }
}

.copyright {

    border-top: 1px solid rgba($color: $black, $alpha: .3);

    display: flex;
    justify-content: space-between;
    
    padding-top: 26px;
    padding-bottom: 14px;
    
    font-size: rem(14);
    line-height: 140%;
    width: 100%;

    position: relative;
}